.axis text {
    fill: #555;
    font-size: 12px;
}

.axis line,
.axis path {
    stroke: #555;
}

.dot {
    fill: #4682B4;
    stroke: #000;
}

.title {
    text-anchor: middle;
    font-size: 18pt;
    font-weight: bold;
}

.axis-label {
    text-anchor: middle;
    font-size: 14pt;
}
